<a href="https://colab.research.google.com/github/qkrwogus1213/AI18_Section1_Project/blob/main/n212a_generalization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 1 / NOTE 2*

# ğŸ“ Assignment
---

# ğŸŒ± **ê¸°ë³¸ ê³¼ì œ**

ì´ë²ˆ ê³¼ì œì—ì„œë„ n211 ê³¼ì œì—ì„œ ë‹¤ë£¨ì—ˆë˜ housing price datasetì„ ê°€ì§€ê³  ë°°ìš´ ë‚´ìš©ì„ ì—°ìŠµí•´ ë³´ê² ìŠµë‹ˆë‹¤. 

ê³¼ì œì—ì„œ ì‚¬ìš©
í•  ë°ì´í„°ì…‹ì€ ë‹¤ìŒ ë§í¬ì—ì„œ ë‹¤ìš´ë¡œë“œ ë°›ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

   - [House Sales in King County, USA](https://www.kaggle.com/harlfoxem/housesalesprediction?select=kc_house_data.csv)

## **Part 1. Validation**

### **1-1. 3-way holdout Method**

- ë°ì´í„°ì…‹ì„ ë¶ˆëŸ¬ì˜¤ì„¸ìš”. 
- ë°ì´í„°ë¥¼ íŠ¹ì„±ê³¼ íƒ€ê²Ÿìœ¼ë¡œ ë‚˜ëˆ„ì–´ ì£¼ì„¸ìš”.
  - íŠ¹ì„±ì€ `bedrooms`, `bathrooms`, `sqft_living`ì„ ì‚¬ìš©í•©ë‹ˆë‹¤.
  - íƒ€ê²Ÿì€ `price`ì…ë‹ˆë‹¤. 
- `train_test_split()`ì„ ì‚¬ìš©í•˜ì—¬ ì „ì²´ ë°ì´í„°ë¥¼ í›ˆë ¨ê³¼ í…ŒìŠ¤íŠ¸ ë°ì´í„°ë¡œ ë‚˜ëˆ„ì–´ì£¼ì„¸ìš”. 
  - í›ˆë ¨ê³¼ í…ŒìŠ¤íŠ¸ ë°ì´í„°ëŠ” 8:2ì˜ ë¹„ë¡œ ë‚˜ëˆ•ë‹ˆë‹¤.
  - `random_state=2`ë¡œ ì„¤ì •í•©ë‹ˆë‹¤. 
- `train_test_split()`ì„ ì‚¬ìš©í•˜ì—¬ í›ˆë ¨ ë°ì´í„°ë¥¼ í›ˆë ¨ê³¼ ê²€ì¦ ë°ì´í„°ë¡œ ë‚˜ëˆ„ì–´ì£¼ì„¸ìš”.
  - í›ˆë ¨ê³¼ ê²€ì¦ ë°ì´í„°ëŠ” 8:2ì˜ ë¹„ë¡œ ë‚˜ëˆ•ë‹ˆë‹¤.
  - `random_state=2`ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.

##### **Q1. ë°ì´í„°ë¥¼ ë¶„ë¦¬í•˜ê³  ë‚œ í›„ ê²€ì¦ ì„¸íŠ¸(X_val)ì˜ ê°œìˆ˜ë¥¼ ì œì¶œí•˜ì„¸ìš”.**

In [120]:
# ë°ì´í„°ì…‹ì„ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤. 

import pandas as pd
import numpy as np

df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kc_house_data/kc_house_data.csv')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,"221,900.00",3,1.00,1180,5650,1.00,0,0,...,7,1180,0,1955,0,98178,47.51,-122.26,1340,5650
1,6414100192,20141209T000000,"538,000.00",3,2.25,2570,7242,2.00,0,0,...,7,2170,400,1951,1991,98125,47.72,-122.32,1690,7639
2,5631500400,20150225T000000,"180,000.00",2,1.00,770,10000,1.00,0,0,...,6,770,0,1933,0,98028,47.74,-122.23,2720,8062
3,2487200875,20141209T000000,"604,000.00",4,3.00,1960,5000,1.00,0,0,...,7,1050,910,1965,0,98136,47.52,-122.39,1360,5000
4,1954400510,20150218T000000,"510,000.00",3,2.00,1680,8080,1.00,0,0,...,8,1680,0,1987,0,98074,47.62,-122.05,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,"360,000.00",3,2.50,1530,1131,3.00,0,0,...,8,1530,0,2009,0,98103,47.70,-122.35,1530,1509
21609,6600060120,20150223T000000,"400,000.00",4,2.50,2310,5813,2.00,0,0,...,8,2310,0,2014,0,98146,47.51,-122.36,1830,7200
21610,1523300141,20140623T000000,"402,101.00",2,0.75,1020,1350,2.00,0,0,...,7,1020,0,2009,0,98144,47.59,-122.30,1020,2007
21611,291310100,20150116T000000,"400,000.00",3,2.50,1600,2388,2.00,0,0,...,8,1600,0,2004,0,98027,47.53,-122.07,1410,1287
21612,1523300157,20141015T000000,"325,000.00",2,0.75,1020,1076,2.00,0,0,...,7,1020,0,2008,0,98144,47.59,-122.30,1020,1357

In [121]:
from sklearn.model_selection import train_test_split

feature = df[['bedrooms', 'bathrooms', 'sqft_living']]
target = df['price']


X_train, X_test, y_train, y_test  = train_test_split(feature, target, test_size = 0.2, random_state = 2)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size = 0.2, random_state = 2)


print("validation set : ", X_val.shape)
print("X_train",X_train.shape)
print("X_test",X_test.shape)

validation set :  (3458, 3)
X_train (13832, 3)
X_test (4323, 3)

##### **Q2. ê¸°ì¤€ëª¨ë¸ê³¼ ë‹¤ì¤‘ì„ í˜•íšŒê·€ ëª¨ë¸ì˜ ì„±ëŠ¥ìœ¼ë¡œ ì˜³ì€ ê²ƒì„ ê³ ë¥´ì„¸ìš”. (ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ê¹Œì§€)**
- ëª¨ë¸ì„ ë§Œë“¤ê¸° ì „ì— í›ˆë ¨ ë°ì´í„° íƒ€ê²Ÿì˜ í‰ê· ê°’ì„ ì‚¬ìš©í•œ ê¸°ì¤€ëª¨ë¸ì„ ë§Œë“¤ê³ , ê¸°ì¤€ëª¨ë¸ì˜ RMSE, $R^2$ scoreë¥¼ í™•ì¸í•´ë³´ì„¸ìš”.
- ë‹¤ì¤‘ì„ í˜•íšŒê·€ ëª¨ë¸ì„ ë§Œë“¤ê³  í›ˆë ¨ì…‹ê³¼ ê²€ì¦ì…‹ì˜ RMSE, $R^2$ scoreë¥¼ ë¹„êµí•´ë³´ì„¸ìš”.
- ë§ˆì§€ë§‰ìœ¼ë¡œ í…ŒìŠ¤íŠ¸ì…‹ì„ ì‚¬ìš©í•´ì„œ ëª¨ë¸ì˜ ì¼ë°˜í™” ì„±ëŠ¥ì„ í™•ì¸í•´ë³´ì„¸ìš”.
  - **í€´ì¦ˆ ë³´ê¸°**ì— ë‚˜ì˜¨ ë‹¤ì¤‘ì„ í˜•íšŒê·€ ëª¨ë¸ì˜ scoreëŠ” **í…ŒìŠ¤íŠ¸ì…‹ì„ ì‚¬ìš©í•œ ê°’**ì…ë‹ˆë‹¤.
  - ì„±ëŠ¥ì€ RMSE, $R^2$ scoreë¥¼ ì‚¬ìš©í•˜ì„¸ìš”.
- MSE, MAEë„ í™•ì¸í•´ë³´ì„¸ìš”.

In [122]:
import numpy as np
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import PolynomialFeatures
from IPython.display import display, HTML
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt

pd.options.display.float_format = '{:,.2f}'.format



def eval_models(y_true, y_pred) :
    mse = mean_squared_error(y_true, y_pred).round(3)
    rmse = np.sqrt(mse).round(3)
    mae = mean_absolute_error(y_true, y_pred).round(3)
    r2 = r2_score(y_true, y_pred)

    return mse, rmse, mae, r2

model = LinearRegression()
model.fit(X_train, y_train)

y_train_pred = model.predict(X_train)
y_val_pred = model.predict(X_val)
y_test_pred = model.predict(X_test)

baseline = [y_train.mean()] * len(y_train)

comparison = pd.DataFrame(index=['mse','rmse', 'mae', 'r2'], columns=['Base', 'Train', 'Validation', 'Test'])
comparison['Base'] = eval_models(y_train, baseline)
comparison['Train'] = eval_models(y_train, y_train_pred)
comparison['Validation'] = eval_models(y_val, y_val_pred)
comparison['Test'] = eval_models(y_test, y_test_pred)

display(comparison)

                   Base             Train        Validation              Test
mse  135,310,752,597.86 66,385,260,945.86 65,548,488,927.30 67,507,634,927.19
rmse         367,846.10        257,653.37        256,024.39        259,822.31
mae          234,667.59        170,774.55        170,429.07        172,277.08
r2                 0.00              0.51              0.48              0.52

### **1-2. Cross_validation**

- **1-1**ê³¼ ë™ì¼í•œ ì¡°ê±´ìœ¼ë¡œ ë°ì´í„°ë¥¼ ë‹¤ì‹œ train setê³¼ test setìœ¼ë¡œë§Œ ë‚˜ëˆ„ì„¸ìš”.
  - K-Fold CV ë°©ë²•ì„ ì‚¬ìš©í•˜ê¸° ë•Œë¬¸ì— validation setì„ ë”°ë¡œ ë§Œë“¤ì§€ ì•ŠìŠµë‹ˆë‹¤.
- êµì°¨ê²€ì¦ì„ í†µí•´ ë‚˜ì˜¨ ê²°ê³¼ë¥¼ í™•ì¸í•´ë³´ì„¸ìš”.
  - sklearnì˜ `cross_val_score` ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì‚¬ìš©í•˜ì„¸ìš”.
  - **10-fold** cross validation
ì„ ìˆ˜í–‰í•˜ì„¸ìš”.
  - cv ìˆ˜í–‰ ì‹œ scoring metricì€ **RMSE** ë¡œ ì—°ì‚°í•˜ë„ë¡ ì„¤ì •í•´ ì£¼ì„¸ìš”.

##### **Q3. cross_val_score í•¨ìˆ˜ì— ëŒ€í•œ ì„¤ëª…ìœ¼ë¡œ ì˜³ì€ ê²ƒì„ ê³ ë¥´ì„¸ìš”.**

In [123]:
from sklearn.model_selection import KFold

target = 'price'
features = ['bedrooms', 'bathrooms', 'sqft_living']

def x_y_split(df):
  X = df[features]
  y = df[target]
  return X, y

df_train, df_test = train_test_split(df, test_size = 0.2, random_state = 2)
X_train, y_train = x_y_split(df_train)
X_test, y_test = x_y_split(df_test)

kf = KFold(n_splits=10)
print('k =',kf.get_n_splits())

cv_result = []
for train_idx, test_idx in kf.split(X_train) :
    X_train_cv, X_val_cv = X_train.iloc[train_idx], X_train.iloc[test_idx]
    y_train_cv, y_val_cv = y_train.iloc[train_idx], y_train.iloc[test_idx]

    model.fit(X_train_cv, y_train_cv)
    y_pred_cv = model.predict(X_val_cv)
    
    mse = mean_squared_error(y_val_cv, y_pred_cv).round(3)
    rmse = np.sqrt(mse).round(3)
    cv_result.append(rmse)

print('rmse for each fold : ', cv_result)
print('average mae for model : ', np.mean(cv_result).round(2))
print('std of result : ', np.std(cv_result).round(2))

k = 10
rmse for each fold :  [277394.946, 239026.738, 264116.472, 269107.239, 263092.248, 231691.037, 242326.233, 280749.301, 244181.512, 258555.786]
average mae for model :  257024.15
std of result :  15999.87

## **Part 2. Overfit/Underfit**

### **2-1. ê³¼ì í•©**

- ë‹¤í•­ì„ í˜•íšŒê·€ë¥¼ ë§Œë“¤ê³  ìµœì ì˜ `ì°¨ìˆ˜(degree)`ë¥¼ ì°¾ì•„ë³´ì„¸ìš”.
  - ë°ì´í„°ë¥¼ **1-1**ê³¼ ê°™ì´ ë‹¤ì‹œ í›ˆë ¨/ê²€ì¦/í…ŒìŠ¤íŠ¸ ì…‹ìœ¼ë¡œ ë‚˜ëˆ„ì–´ ëª¨ë¸ í•™ìŠµ í›„ ì—ëŸ¬ë¥¼ ë¹„êµí•˜ì„¸ìš”.
  - ì£¼ì–´ì§„ ë¦¬ìŠ¤íŠ¸ `degrees`ì˜ ìš”ì†Œ ì¤‘ì—ì„œ **ê²€ì¦ì…‹ì˜ ì—ëŸ¬ê°€ ê°€ì¥ ë‚®ì€** ì°¨ìˆ˜ë¥¼ ì°¾ìŠµë‹ˆë‹¤.
  - ì°¨ìˆ˜ë¥¼ ì°¾ê¸° ìœ„í•œ ì½”ë“œëŠ” ììœ ë¡­ê²Œ ì‘ì„±í•´ë³´ì„¸ìš”.
    - EX.1) forë¬¸ì„ í†µí•´ ì—¬ëŸ¬ ê°œì˜ ë‹¤í•­íšŒê·€ ëª¨ë¸ ê²°ê³¼ê°’ ì¶œë ¥
    - EX.2) ë‹¤í•­íšŒê·€ëª¨ë¸ì˜ ì°¨ìˆ˜ë¥¼ ì§ì ‘ ë°”ê¿”ê°€ë©´ì„œ ê²°ê³¼ê°’ í™•ì¸ ë“±ë“±
  - ì—ëŸ¬ë¥¼ ë¹„êµí•˜ê¸° ìœ„í•œ í‰ê°€ì§€í‘œëŠ” ììœ ë¡­ê²Œ ì‚¬ìš©í•´ë„ ì¢‹ìŠµë‹ˆë‹¤.

##### **Q4. ë‹¤í•­ì„ í˜•íšŒê·€ë¥¼ ë§Œë“¤ê³  ìµœì ì˜ ì°¨ìˆ˜ë¥¼ ì°¾ì•„ ì œì¶œí•˜ì„¸ìš”.**

In [124]:
from matplotlib import pyplot as plt
from sklearn.preprocessing import PolynomialFeatures

feature = df[['bedrooms', 'bathrooms', 'sqft_living']]
target = df['price']

def PolynomialRegression(degree=3, **kwargs):
    return make_pipeline(PolynomialFeatures(degree), 
                         LinearRegression(**kwargs))


X_train, X_test, y_train, y_test  = train_test_split(feature, target, test_size = 0.2, random_state = 2)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size = 0.2, random_state = 2)


degrees = [1, 2, 3, 4, 5]

best_degree = None

for i in degrees:
  poly_model = PolynomialRegression(i)
  poly_model.fit(X_train, y_train)
  y_pred_val = poly_model.predict(X_val)
  print("ì°¨ìˆ˜",i)
  print(eval_models(y_val, y_pred_val))

ì°¨ìˆ˜ 1
(65548488927.295, 256024.391, 170429.067, 0.4819386780307512)
ì°¨ìˆ˜ 2
(62903090387.428, 250804.885, 163571.373, 0.5028465385646457)
ì°¨ìˆ˜ 3
(63818339336.948, 252622.919, 163982.178, 0.4956128846928465)
ì°¨ìˆ˜ 4
(68310950009.708, 261363.636, 164179.109, 0.460105615763964)
ì°¨ìˆ˜ 5
(73633408277.751, 271354.765, 166160.682, 0.4180396610548196)

##### **Q5. ì°¨ìˆ˜ê°€ 5ì¼ ë•Œ ê³¼ì í•©ì´ ë°œìƒí–ˆë‚˜ìš”? ë°œìƒí–ˆë‹¤ë©´ ì–´ë–»ê²Œ í•´ì†Œí•  ìˆ˜ ìˆì„ê¹Œìš”?**

In [125]:
for i in degrees:
  poly_model = PolynomialRegression(i)
  poly_model.fit(X_train, y_train)
  y_predict_train = poly_model.predict(X_train)
  print("train ë°ì´í„° ì°¨ìˆ˜",i)
  print(eval_models(y_train, y_predict_train))

print('\n')
for i in degrees:
  poly_model = PolynomialRegression(i)
  poly_model.fit(X_train, y_train)
  y_predict_test = poly_model.predict(X_test)
  print("test ë°ì´í„° ì°¨ìˆ˜",i)
  print(eval_models(y_test, y_predict_test))

train ë°ì´í„° ì°¨ìˆ˜ 1
(66385260945.859, 257653.374, 170774.553, 0.5093866550047623)
train ë°ì´í„° ì°¨ìˆ˜ 2
(58729419750.867, 242341.535, 163162.691, 0.5659663506165764)
train ë°ì´í„° ì°¨ìˆ˜ 3
(58289838252.596, 241432.886, 163024.194, 0.5692150318176692)
train ë°ì´í„° ì°¨ìˆ˜ 4
(57521565368.08, 239836.539, 162473.931, 0.5748928724161926)
train ë°ì´í„° ì°¨ìˆ˜ 5
(58653631728.245, 242185.119, 164163.297, 0.5665264540907412)


test ë°ì´í„° ì°¨ìˆ˜ 1
(67507634927.19, 259822.314, 172277.08, 0.5164493534799632)
test ë°ì´í„° ì°¨ìˆ˜ 2
(71507842793.857, 267409.504, 166281.679, 0.4877962522088598)
test ë°ì´í„° ì°¨ìˆ˜ 3
(79108328355.886, 281262.028, 167085.385, 0.4333547107247119)
test ë°ì´í„° ì°¨ìˆ˜ 4
(135286338321.465, 367812.912, 169555.262, 0.030957069800640946)
test ë°ì´í„° ì°¨ìˆ˜ 5
(294351602313.621, 542541.798, 174167.489, -1.108412000457041)

train set r2ëŠ” 0.566
test set r2ëŠ” -1.108
ìœ¼ë¡œ ì°¨ìˆ˜ê°€ 5ì¼ë•Œ ê³¼ì í•©ì´ ë°œìƒí•¨

## **Part 3. Generalization**

### **3-1. ì¼ë°˜í™”**

- **í…ŒìŠ¤íŠ¸ì…‹**ì„ ë”± í•œ ë²ˆë§Œ ì‚¬ìš©í•´ì„œ ëª¨ë¸ì˜ **`ì¼ë°˜í™”`** ì„±ëŠ¥ì„ í™•ì¸í•˜ì„¸ìš”.
  - **ë‹¤í•­ì„ í˜•íšŒê·€ ëª¨ë¸**ì„ ì‚¬ìš©í•˜ê³  **2-1**ì—ì„œ êµ¬í•œ ìµœì ì˜ ì°¨ìˆ˜ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤. 
  - í•™ìŠµì‹œí‚¨ ë‹¤í•­ì„ í˜•íšŒê·€ ëª¨ë¸ì˜ **`í›ˆë ¨ì…‹ê³¼ í…ŒìŠ¤íŠ¸ì…‹ì˜ score`**ë¥¼ êµ¬í•´ë³´ì„¸ìš”.
  - í‰ê°€ì§€í‘œëŠ” **RMSE**ì™€ **$R^2$ score**ë¥¼ ì‚¬ìš©í•˜ì„¸ìš”.

##### **Q6. ìµœì¢…ëª¨ë¸ì€ ê¸°ì¤€ëª¨ë¸ë³´ë‹¤ ê°œì„ ëœ ëª¨ë¸ì¸ê°€ìš”? (í…ŒìŠ¤íŠ¸ì…‹ì—ì„œì˜ RMSEì™€ $R^2$ë¥¼ ê¸°ì¤€ëª¨ë¸ê³¼ ë¹„êµí•´ë³´ì„¸ìš”.)**

In [126]:
poly_model = PolynomialRegression(degree=2)
poly_model.fit(X_train,y_train)

y_pred_train = model.predict(X_train)
y_pred_test = model.predict(X_test)


display(comparison.iloc[:,0])

test_result = eval_models(y_test, y_pred_test)
train_result = eval_models(y_train, y_pred_train)
print("test", test_result)
print("train", train_result)


#r2ëŠ” ì¦ê°€ rmseëŠ” ê°ì†Œ

mse    135,310,752,597.86
rmse           367,846.10
mae            234,667.59
r2                   0.00
Name: Base, dtype: float64

test (67478861881.847, 259766.938, 171759.023, 0.5166554520152344)
train (66401350537.842, 257684.595, 170355.128, 0.5092677465538505)

# ğŸ¥‡ **ë„ì „ ê³¼ì œ**

- **ê³¼ì œì—ì„œ ë§Œë“  ëª¨ë¸ì˜ ì„±ëŠ¥ì„ ê°œì„ í•´ë³´ì„¸ìš”.**
    - **`EDA`**ë¥¼ í†µí•´ ì¶”ê°€ë¡œ í•™ìŠµì— ì‚¬ìš©í•  íŠ¹ì„±ì„ ì°¾ê³  ëª¨ë¸ì„ ìƒˆë¡œ í•™ìŠµí•´ë³´ì„¸ìš”.
    - ì—¬ëŸ¬ë¶„ì˜ ë‹¤ì–‘í•œ ì•„ì´ë””ì–´ë¡œ **`íŠ¹ì„± ê³µí•™(Feature Engineering)`**ì„ ìˆ˜í–‰í•´ ë³¼ ìˆ˜ë„ ìˆìŠµë‹ˆë‹¤.
    - ë§ˆì§€ë§‰ì— ëª¨ë¸ ì„±ëŠ¥ì˜ ê°œì„  ì—¬ë¶€ì™€ ì™œ ê·¸ ê²°ê³¼ê°€ ë‚˜ì™”ëŠ”ì§€ì— ëŒ€í•œ **`ì¸ì‚¬ì´íŠ¸`**ë¥¼ ê³µìœ í•´ì£¼ì„¸ìš”.